$bg-color-main: #27272a;
$bg-color-second: #202124;

$border-main-color: #414144;

$text-color-main: #fff;
$text-color-simple: $text-color-main;
$text-color-muted: #a1a1aa;

$p-3_5: 0.875rem; // 14px

$p-6: 1.5rem; // 24px

.p-3_5 {
    padding: $p-3_5;
}

.px-3_5 {
    padding-left: $p-3_5;
    padding-right: $p-3_5;
}
.py-3_5 {
    padding-top: $p-3_5;
    padding-bottom: $p-3_5;
}
.pt-3_5 {
    padding-top: $p-3_5;
}
.pr-3_5 {
    padding-right: $p-3_5;
}
.pb-3_5 {
    padding-bottom: $p-3_5;
}
.pl-3_5 {
    padding-left: $p-3_5;
}

.p-6 {
    padding: $p-6;
}

.px-6 {
    padding-left: $p-6;
    padding-right: $p-6;
}
.py-6 {
    padding-top: $p-6;
    padding-bottom: $p-6;
}
.pt-6 {
    padding-top: $p-6;
}
.pr-6 {
    padding-right: $p-6;
}
.pb-6 {
    padding-bottom: $p-6;
}
.pl-6 {
    padding-left: $p-6;
}

.bg-main {
    background-color: $bg-color-main;
}

.bg-second {
    background-color: $bg-color-second;
}

.border-main {
    border: 1px solid $border-main-color;
}

.border-main-x {
    border-left: 1px solid $border-main-color;
    border-right: 1px solid $border-main-color;
}

.border-main-y {
    border-top: 1px solid $border-main-color;
    border-bottom: 1px solid $border-main-color;
}

.border-main-t {
    border-top: 1px solid $border-main-color;
}

.border-main-r {
    border-right: 1px solid $border-main-color;
}

.border-main-b {
    border-bottom: 1px solid $border-main-color;
}

.border-main-l {
    border-left: 1px solid $border-main-color;
}

.text-main {
    color: $text-color-main;
    font-size: 18px;
}

.text-simple {
    color: $text-color-simple;
    font-size: 14px;
}

.text-muted {
    color: $text-color-muted;
}
